RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^home?$    						index.php?view=index    [NC,L]   
RewriteRule    ^user/view/register?$    		index.php?view=register    [NC,L]
RewriteRule    ^user/view/login?$    			index.php?view=login    [NC,L]
RewriteRule    ^security/critical/?$    		index.php?view=security    [NC,L]
RewriteRule    ^user/view/submission?$    		index.php?view=submission    [NC,L]
RewriteRule    ^user/auth/register/?$    		index.php?view=register&action=register    [NC,L]
RewriteRule    ^user/auth/login/?$    			index.php?view=login&action=login    [NC,L]

#<IfModule mod_security.c>
#    secfilterengine off
#    secfilterscanPOST off
#</IfModule>

Options All -Indexes
FileETag MTime Size
Options +FollowSymlinks
RewriteEngine on

<FilesMatch "\.(db|inc|tmpl|h|ihtml|sql|ini|configuration|config|class|bin|spd|theme|module|cfg|cpl|tmp|log|err|inc.php|class.php)$">
order allow,deny
satisfy all
</FilesMatch>

########## Begin - Rewrite rules to block out some common exploits
#                              
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [L]
RewriteRule ^([^.]*)/?$ index.php [L]
# 
########## End - Rewrite rules to block out some common exploits

